#content-page-Overview {
  padding: 0px 0px 60px 3px !important;
  margin-left: 180px !important;
}

.edit_button {
  margin-left: 3px !important;
}

.mr_2 {
  margin-right: 2px !important;
}

.ml_2 {
  margin-left: 2px !important;
}

._margin {
  margin: 2px !important;
}

.delete_button {
  cursor: pointer !important;
}
