/* PerformanceRecord */
@media (max-width: 1020px) {
  .date p {
    margin-top: 10px !important;
  }
  .leads {
    padding: 10px !important;
  }
}

/* media-library/warehouse-setup-media */
@media (max-width: 720px) {
  .Upload_img {
    padding-top: 5px;
  }
}
