/* client-account-manager-admin */
@media (min-width: 550px) {
  .row-row {
    display: flex !important ;
    justify-content: center !important;
    align-items: center !important;
  }
}

/* accountmanageradmin/Incomingnewclients */
@media (max-width: 1000px) {
  .logo-sm img {
    visibility: hidden;
  }
}
